/* DOCUMENT INFORMATION
    -Document: thés thème
    -Version : 1.0.0
    -Author: christo
*/

/*COLOR
    -defaut body text
    -h1         #eee
    -h2         #000
    -h3         #f4770c

    -button
    -button: hover

    -icon    green

    -border
*/

/* FONTS
    -default     lato
    -Subtitul

*/

/* CSS DIRECTORY
    1 *Global
    2 *HEADER
    3 *Produit
*/

/* GLOBAL
************************************** */

html{
    background-color: #fff;
    
    
}

h1,h2,h3,h4{
    font-family: 'lato','arial', 'sans-serif';
    text-transform: uppercase;
    
}
h1{
    color: #eee; 
    letter-spacing: -1px;
    font-weight: 300;
    word-spacing: 8px;
}
h2{
    color: #000;
    font-size: 250%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
h2:after{
    display: block;
    height: 2px;
    background-color: green;
    width: 200px;
    content: " ";
    margin: 0 auto;
    margin-top: 10px;
}
h3{
    color: #070606;
    font-size: 160%;
}
p{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

section{
    padding: 30px 0 60px 0;
}

/* HEADER
************************************** */

header{
    background-image:linear-gradient(rgba(0, 255, 0,0.4),
                                     rgba(0, 153, 255,0.6)
                                    ),
                     url(../images/header.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.home-title{
    position: absolute;
    top: 30%;
}

.home-title h1{
    font-size: 340%;
    color: #fff;
}

.home-title h1 span{
    font-weight: 700;
}

.home-title p {
    color: #fff;
}

/*button*/

.btn {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 1s , color 1s , border 1s;
}

.btn-full{
    background-color: #57f46f;
    color: #17de17;
    margin-right: 15px;
}
.btn-ghost{
    border: 1px solid #fff;
    color: #fff;
}

.btn-full:hover{
    background-color: darkgreen;
    color: #fff;
}
.btn-ghost:hover{
    background-color: #5ee077;
    border: 1px solid #5ee077;
    color: #fff;
}

/* PRODUITS
************************************** */
.produits-plus{
    margin: 50px 0;
}
.produits-plus:hover .produits-icon{
    color: rgb(6, 6, 105);
    transform: translateX(20px);
}

.produits-img{
    max-width: 100%;
    height: auto;
}

.produits-icon{
    font-size: 34px;
    color: green;
    transition: all 1s;
}

/*famille thé
=================================  */
.famille-the{
    background-color: #40f547;
    
}
.familles-details{
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    margin-bottom: 20px;
}
.para-the{
    
    text-align: center;
}
.familles-details img{
    display: block;
    margin: 0 auto;
    width: 80%;
}
.familles-details h4{
    text-align: center;
}
.familles-details p{
    text-align: center;
}

/*GALERIES PHOTOS
=================================  */

.galeries-img{
    display: block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    margin-bottom: 30px;
}
.galeries-title{
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.galeries-title h4{
    color: #fff;
}
/*AVIS CLIENTS
=================================  */

.clients{
    background-image:linear-gradient(rgba(0, 255, 0,0.4),
                                     rgba(0, 153, 255,0.6)
                                    ), url(../images/paysage.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.clients h2{
    color: #fff;
}
.clients h2::after{
    background-color: #fff;
}

blockquote{
    padding: 10px;
    font-style: italic;
    line-height: 130%;
    color: #fff;
}

blockquote:before{
    content: "\201C";
    font-size: 800%;
    font-family: "sanchez", serif;
    position: absolute;
    top: 30px;
    left: 2px;
    color: rgba(255,255,255,0.6);
}
cite{
    font-size: 80%;
    display: block;
    margin-top: 20px;
}
cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/*PACKS
=================================  */

.packs{
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    border-radius: 20px;
    margin-bottom: 20px;
}

.packs h3{
    color: green;
    font-weight: 400;
}

.packs h4{
    font-size: 200%;
    font-weight: 100;
}

.packs span{
    font-size: 40%;
    font-weight: 100;
    position: relative;
    top: -10px;
    left: 10px;
}

.pack-premium{
    background-color: #5cc361;
    color: #eee;
}
.packs-title{
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #6d6a6a;
}

.pack-title-premium{
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: #fff;
    color: green;
    border-radius: 10px;
    padding: 5px;
}

.packs-content ul{
    list-style: none;
    padding: 20px;
    font-weight: 300;
    line-height: 35px;
}
.packs-content ul li i {
    font-size: 110%;
    margin-right: 10px;
    
}

.packs-signup{
    text-align: center;
    
}
.packs-signup:hover .btn-packs{
    background-color: #56f056;
    color: #fff;
    
}

.btn-packs{
    background-color: green;
    color: #fff;
    margin-bottom: 20px;
    
}
/*CONTACT
=================================  */

.contact-form{
    margin-bottom: 30px
}

.contact-message{
    width: 100%;
}

.btn-contact{
    background-color: forestgreen;
    color: #fff;
}

.map{
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*FOOTER
=================================  */

footer{
    background-color: #222121;
    color: #fff;
    height: 60px;
}
.copyright{
    text-align: center;
    padding: 20px 20px;
}

.copyright a{
    color: #fff;
}

/*MENU
=================================  */

.mon-bg{
    background-color: #f0f5e8;
}

